@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import "button.css";
@import "card.css";

:root {
  --color-primary: #eef7c7;
  --color-secondary: #ecf56a;
  --color-tertiary: white;
  --color-over-secondary: black;
  --color-borders: black;
  --color-over-primary: black;
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  --color-card-optional: #e3f7c7;
  --color-card-optional-title: #c9f691;

  --color-card-important: #ecf7c7;
  --color-card-important-title: #f3f56a;

  --color-card-urgent: #f7e2c7;
  --color-card-urgent-title: #f5bd6a;

  --color-card-immediate: #f7d4c7;
  --color-card-immediate-title: #f57d6a;

  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --spacing-xlarge: 64px;

  --border-radius: 12px;
}

@media (prefers-reduced-motion) {
  * {
    transition: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  text-shadow: var(--text-shadow);
  font-family: "Courier New", Courier, monospace;
}

h3 {
  font-size: 18px;
}

header {
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
  padding: var(--spacing-large) var(--spacing-medium);
  background-color: var(--color-secondary);
}

body {
  background-color: var(--color-primary);
}

main ul {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-small);
  margin: var(--spacing-medium);
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.category-container > li {
  list-style: none;
}

.card {
  width: fit-content;
  height: fit-content;
  min-height: 100px;
  width: 20%;
}

.card .container {
  font-size: large;
  font-family: "Cedarville Cursive", cursive;
}

.card .container > ul {
  display: flex;
  flex-direction: column;
}

.card .container > li {
  text-align: justify;
}

.card .card-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-small);
  text-shadow: var(--text-shadow);
  text-align: start;
}

.card .card-category > span {
  text-shadow: var(--text-shadow);
  cursor: pointer;
}

@keyframes rotate180 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.card .card-category > span:hover {
  animation-name: rotate180;
  animation-duration: 500ms;
}

.card.optional {
  background-color: var(--color-card-optional);
}

.card .card-header {
  display: flex;
  flex-direction: column;
}

.card .card-header form {
  margin: var(--spacing-small);
  display: flex;
  flex-direction: row;
}

.card .card-header form input {
  width: 100%;
  padding: var(--spacing-xsmall);
  border: 1px solid black;
  outline: none;
  font-size: small;
  border-radius: var(--spacing-small) 0 0 var(--spacing-small);
}

.card .card-header form .add-button {
  display: flex;
  border: 1px solid black;
  border-radius: 0 var(--spacing-small) var(--spacing-small) 0;
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-weight: 900;
  color: white;
  background-color: black;
}

.card .card-category {
  flex-wrap: wrap;
}

.card .card-category h3 {
  font-family: "Courier New", Courier, monospace;
}

.card.optional .card-header {
  background-color: var(--color-card-optional-title);
}

.card.important {
  background-color: var(--color-card-important);
}

.card.important .card-header {
  background-color: var(--color-card-important-title);
}

.card.urgent {
  background-color: var(--color-card-urgent);
}

.card.urgent .card-header {
  background-color: var(--color-card-urgent-title);
}

.card.immediate {
  background-color: var(--color-card-immediate);
}

.card.immediate .card-header {
  background-color: var(--color-card-immediate-title);
}
